<div class="page-header">
  <h1>A epic journey begins <small>these are our baby steps</small></h1>
</div>
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-LMk8fhK/0/XL/_B291027-XL.jpg"/></div>
	  <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-h82pM4g/0/XL/PB200105-XL.jpg"/></div>
	   <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-MJdhM5M/0/XL/_B301108-XL.jpg"/></div>
	</div>
<div class="row">.</div>
	<div class="row">
	  <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-vmMZjKj/0/XL/_B240899-XL.jpg"/></div>
	  <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-BFqWd7f/0/XL/_B240847-XL.jpg"/></div>
	  <div class="col-md-4"><img class="img-responsive" src="http://theosf.smugmug.com/Europe/France/France/i-DsTwCQ7/0/XL/_B240855-XL.jpg"/></div>
	</div>
</div>