<div class="jumbotron">
  <h1>We all <i>need</i> to make second efforts</h1>
  <p>But some <i>just don't know</i> <big>HOW</big> to make them on the <b>internet</b>.</p>
  <p>
  	<a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a>
  	<a class="btn btn-danger btn-lg" role="button" href="/legalese">Disclaimers</a>
  	<a class="btn btn-warning btn-lg" role="button" href="https://www.google.com/search?q=puppies&tbm=isch">I prefer puppies</a>
  </p>
</div>